 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }
      body {
        min-height: 110vh;
        position: relative;
      }
      h2 {
        text-align: center;
        font-size: 30px;
        color: rgb(35, 113, 231);
      }
      .user-input {
        display: grid;
        grid-template-columns: 200px 120px 160px 120px 120px;
        column-gap: 120px;
        margin-bottom: 18px;
      }
      .user-results {
        display: grid;
        grid-template-columns: 200px 120px 160px 120px;
        column-gap: 20px;
        row-gap: 18px;
      }
      .user-input {
        background: white;
        padding: 20px 12px;
        box-shadow: 4px 2px 8px lightgray;
        margin-left: 40px;
        margin-right: 40px;
        border-radius: 20px;   
      }
      .user-results{
        background: white;
        padding: 20px 12px;
        box-shadow: 4px 2px 8px lightgray;
        margin-left: 40px;
        margin-right: 40px;
        border-radius: 12px;
        column-gap: 120px;
      }
      .user-input button, .user-results button{
        font-size: 16px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        color: white;
        border-radius: 10px;
      }
      .user-results button {
        background: darkcyan;
        padding: 10px 20px;
      }
      .add{
        background: rgb(240, 97, 81);
        padding: 10px 20px;
      }
      .total{
        background: rgb(240, 97, 81);
        padding: 8px;
      }
      .view{
        display: none;
        background: rgb(240, 97, 81);
        padding: 8px;
      }
      .cs-name,
      .cs-money,
      .cs-members {
        font-size: 14px;
        padding: 3px 10px;
        border-radius: 6px;
      }
      .pop-up {
        display: none;
        background: rgb(233, 29, 29);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 20px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 40px;
        
        width: 400px;

        
        color: white;
        box-shadow: 4px 4px 8px darkgray;
        border-radius: 6px;
        z-index: 1000;
      }
      h3 {
        text-align: center;
        margin-bottom: 20px;
      }
      .flex-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
      }
      .data-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background:  rgba(26, 24, 24, 0.2);
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 4px 12px;
        
        
      }
      .stu{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
      }
      .stu img{
        width: 40px;

      }
      .badge{
        font-size: 16px;
        font-weight: 900;
        background: rgb(51, 51, 202);
        padding: 10px;
        border-radius: 50%;
      }
      .paid{
        font-size: 18px;
        font-weight: bold;
      }
      
      .overlay{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 999;
      }
      
      .close-btn{
        padding: 10px;
        background: orange;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        font-weight: bold;

      }
      .x-btn{
        position: absolute;
        right: 12px;
        top: 10px;
        padding: 10px;
        font-size: 20px;
        border-radius: 50%;
        border: none;
        background: rgb(224, 156, 30);
        color: white;
        cursor: pointer;
        display: none;

      }